* {
    box-sizing: border-box;
    font-family: Inter;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

html, body {
    width: 100vw;
    scrollbar-width: none;
    overflow-y: hidden;
}

html,
body,
#root {
    margin: 0;
    padding: 0;

    background: black;
    color: white;

    display: flex;
    align-items: flex-start;
}
