name: Deploy Static Content to GitHub Pages

on:
    pull_request:
        branches: ["main"]
    push:
        branches: ["main"]
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0 # Required for restore-mtime to find commit dates

            - name: Restore file modification times
              uses: chetan/git-restore-mtime-action@v2

            - name: Cache WebP Images
              uses: actions/cache@v4
              with:
                  path: |
                      public/**/*.webp
                      public/*-thumbnails
                  # If [force-optimize] is present, key is unique (forcing a save).
                  # Otherwise, it uses a stable key for standard runs.
                  key: webp-${{ contains(github.event.head_commit.message, '[force-optimize]') && github.run_id || 'v1' }}
                  restore-keys: |
                      webp-

            - name: Install Linux dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y webp

            - name: Install ImageMagick
              uses: mfinelli/setup-imagemagick@v6

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.x"

            - name: Run image optimization
              run: |
                  FORCE_FLAG=$([[ "${{ github.event.head_commit.message }}" == *"[force-optimize]"* ]] && echo "--force" || echo "")
                  echo "Running image optimization..."
                  python ci/optimize-images.py --all $FORCE_FLAG --cpu $CPU
              env:
                  CPU: 2

            - name: Enable Corepack
              run: corepack enable

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: "yarn"

            - name: Install Dependencies
              run: yarn install --immutable

            - name: Build Project
              run: yarn build

            - name: Upload Build Artifacts
              uses: actions/upload-pages-artifact@v3
              with:
                  path: "./build"

    deploy:
        needs: build
        runs-on: ubuntu-latest
        if: github.event_name == 'push'
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
